@model IEnumerable<MODALobj.Cart>

@{
    //    Layout = null;
}
@{
    double GrandTotal = 0;
    double gtotal = 0;

    if (ViewBag.li != null)
    {
        foreach (var item in ViewBag.li)
        {
            gtotal = item.p_price * item.ct_p_qty;
            GrandTotal = GrandTotal + gtotal;
        }
    }

    int count = 1;

}

<script src="~/Scripts/bootstrap.min.js"></script>


<style>

    @@media screen and (min-width: 767px) {
        .pimage {
            max-width: 150px;
        }
    }

    .edt, .remv {
        border-radius: 20px;
    }
</style>




<div>



    <div class="modalj" id="myModalcart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="min-width:90%">
        <div class="" role="document" style="width:90%; margin:0 auto   ">
            <div class="modal-content">
                @*<div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Your Cart Items</h5>
                        <h3>
                            <span aria-hidden="true">Sub-Total: <span>&#8377</span> @GrandTotal</span>
                        </h3>
                    </div>*@
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Your Cart Items</h4>
                    <div class="close" aria-label="Close">
                        @*<span aria-hidden="true">&times;</span>*@
                        <span aria-hidden="true">Sub-Total: <span>&#8377</span> @GrandTotal</span>
                    </div>
                </div>

                <div class="modal-body">

                    @{
                        if (ViewBag.li != null)
                        {
                            <div class="table-responsive">
                                <table class="table" id="tbcrt">
                                    <thead>
                                        <tr>
                                            <td>S.N.</td>
                                            <td>Product </td>
                                            <td>Price</td>
                                            <td>Quantity</td>
                                            <td>Total</td>
                                            <td>Edit/Remove</td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.li)
                                        {

                                            <tr>
                                                <td>@count</td>
                                                <td>
                                                    <img src="@item.p_imge" alt="@item.p_Ename" class="pimage img-fluid img-responsive" />
                                                    <br />

                                                </td>
                                                <td class="price">
                                                    <span class="p">
                                                        &#8377 @item.p_price/-
                                                    </span>
                                                    <span class="p">
                                                        Kg
                                                    </span>

                                                </td>
                                                <td>
                                                    <span class="quantity">@item.ct_p_qty</span>
                                                    <span class="wit">
                                                        Kg
                                                    </span>
                                                </td>
                                                @{
                                                    double total;
                                                    total = item.p_price * item.ct_p_qty;
                                                }
                                                <td>@total</td>
                                                <td>
                                                    <input type="hidden" class="id" name="pid" value="@item.Product_id" />
                                                    <button type="button" class="btn btn-warning glyphicon glyphicon-pencil edt" align="center" data-toggle="modal" data-target="#modalForEdit"></button>
                                                    <button type="button" class="btn btn-danger  glyphicon glyphicon-remove remv"></button>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                        <tr class="text-right font-weight-bold">
                                            <td colspan="6">Sub-Total: <span>&#8377</span> @GrandTotal</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <h2>@ViewBag.empty</h2>
                        }
                    }


                </div>
                <div class="modal-footer">
                    @*<button class="btn btn-info jsclick">get js</button>*@
                    <a href="../" class="btn btn-primary">Continue shopping</a>
                    <a href="/Home/CheckOut" class="btn btn-success">Checkout Now</a>
                    @*<button type="submit" class="btn btn-primary">Payment Now</button>*@
                </div>
            </div>
        </div>
    </div>
    @*End div of cart modal*@


    @*div of edt cart modal*@
    <div class="modal fade" id="modalForEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="top:30%; margin:0 auto">
            <div class="modal-content">

                @using (Html.BeginForm())
                {
                    <div class="modal-body">
                        <div class="row " style="text-align:center">
                            <div class="col-12 ">
                                <a>
                                    <img class="img-fluid image" id="imagecrt" />
                                </a>
                                @*<h3 class="name" id="fname"></h3>*@
                                <h4 class="test" id="fprice"></h4>
                                <div class="" style="background-color:white; height:100px">
                                    <input type="hidden" id="id" name="id" value="" />
                                    <input type="button" name="Sub" class="Sub" value="Sub" />
                                    <input type="number" name="Quantity" class="qty" value="1" min="1" max="50" autocomplete="off" />
                                    <input type="button" name="Add" class="Add" value="Add" />
                                </div>
                                @*<div>
                                        <input type="hidden" id="id" name="id" value="" />
                                        <select id="Quantity" class="form-control" name="Quantity" style="margin:0 auto;height:34px"></select>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                }
            </div>
        </div>
    </div>
    @*End div of edit cart modal*@


    @* ----------------------------------------------------- *@

    <div class="modal fade notify" id="modalForEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="top:20%">
            <div class="modal-content">
                <div class="modal-body text-green font-weight-bold">
                    Item Was Deleted Successfully.
                </div>

            </div>
        </div>
    </div>
    @*End div of edit cart modal*@
</div>

<script src="~/assets/Js/myScripts.js"></script>


<script>
    $(document).ready(function () {

        $('.jsclick').click(function () {
            $.ajax({
                url: "/Home/get",
                method: "GET",
                //data: obj,
                success: function (data) {
                    //alert(data);
                    var lineNo = 1;
                    //markup = "<tr><td>This is row "
                    //    + lineNo + "</td></tr>";
                    console.log(data);
                    //alert(data);
                    datan = JSON.parse(data);
                    var type = typeof (datan);
                    //alert(type);
                    tableBody = $("table tbody");
                    tableBody.empty();
                    $.each(datan, function () {

                        markup = "<tr><td>" + lineNo + "</td>"
                            + 1 + " <td> <img src='" + this.p_imge + "' alt='tem.p_Ename' width='100' class='image' />  <input type='hidden' class='id' name='pid' value='item.Product_id' /> <button type='button' class='btn btn-warning glyphicon glyphicon-pencil edt' align='center' data-toggle='modal' data-target='#modalForEdit'></button> <button type='button' class='btn btn-danger  glyphicon glyphicon-remove remv'></button></td > <td ><span class='p'>&#8377 " + this.p_price + "/-</span><span class='p'> kg </span></td > <td ><span class='quantity'>" + this.ct_p_qty + "</span><span class='wit'> kg </span></td > </tr > ";

                        //alert(markup);

                        lineNo++;



                        tableBody.append(markup);

                        //alert(this.Product_id);
                        //alert(this.p_Ename);
                        //alert(this.p_price);
                        //alert(this.p_weight_type);
                        //alert(this.p_imge);
                        //$.each(this, function (name, value) {
                        //    console.log(`${name} = ${value}`);
                        //    //alert(this.Product_id)
                        //})


                    });


                    console.log(datan);
                    //alert(datan);
                    //alert(datan.Product_id);

                },
                error: function (err) {
                    Console.log(err);
                    alert('some error');
                }
            })

        });





        $("#tbcrt").on('click', '.remv', function () {


            $('#notify p').text('Successfully Removed');
            if (confirm('Are You Sure to remove this Item')) {

                $(this).closest('tr').remove();
                var $remv_id = $(this).parent().find('.id').val();
                //alert($remv_id);
                var obj = {
                    id: $remv_id
                }

                SubmitData(obj);

                location.reload(true);
                $('.notify').modal().delay(5000).fadeOut();
            }
        });

        function SubmitData(obj) {
            //alert(obj.id);
            $.ajax({
                url: "/Home/Remove",
                method: "POST",
                data: obj,
                success: function (res) {
                    $('.notify').modal().fadeIn();
                    //$('#notify p').text('Successfully Removed').fadeIn().fadeOut(slow);
                },
                error: function (err) {

                }
            })
        }
    });
</script>
<script>
    $(document).ready(function () {
        var $qty = $('.qty').val();
        $(".Add").click(function () {
            $qty = $('.qty').val();
            if ($qty > 0 && $qty < 50) {

                $inc = parseInt($qty) + parseInt(1);
                $qty = $('.qty').val($inc).val();
            }
            else {
                alert("Quantity Exeeds 50")
            }

        });
        $(".Sub").click(function () {
            $qty = $('.qty').val();
            if ($qty > 1) {
                $inc = parseInt($qty) - parseInt(1);
                $qty = $('.qty').val($inc).val();
            }
            else {
                alert("this is minimum value")
            }
        });
        //$('.qty').keypress(function () {
        //    var $v = $('.qty').val();

        //    $qty = $('.qty').val($v);

        //})
    });
</script>

