@model IEnumerable<MODALobj.CheckOrd>

@{
    Layout = "~/Views/Shared/_DeshBoard.cshtml";
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.u_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQlty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandTotalAmout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.u_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemsNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQlty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotalAmout)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Status)*@
                Not Delevered

            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }
    
    </table>
